

main{
	margin-bottom: 100px;
}
.about_title h1{
	
	
	letter-spacing: 5px;
	margin-bottom: 40px; 
	font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px; 
  color: #E67A41;
	
}
.about_title span{

	height: 1px;
  width: 550px;
  display: block;
  background: #E67A41;
  margin: 0px auto 120px;
}
.about-detail h4{
	margin-bottom: 40px;
	text-align: left;
	font-family: 'Roboto';
  font-weight: 600;
  
	
}
.about-detail p{
	text-align: justify;
	width: 400px;
	font-family: 'Roboto';
	font-weight: 400;
}
e
.image-stack {
  position: relative;
  max-width:670px;
  top: 0;
  left: 0;
}
.image-left {
  position: relative;
  max-width:55%;
  top: 0%;
  left: 0;
  z-index: 1;
}
.image-right {
  position: absolute;
  max-width:55%;
  top: 12%;
  left: 35%;
  z-index: 3;
}
.footer_part .container .hr hr{
   border: none;
  height: 1px;
  background: #E67A41;
}

/*====================================*/
/*====================================*/
/*====================================*/
/*====================================*/

@media screen and (max-width: 992px) {
  .about{
    width: 90%;
  }
.about .image-stack{
    margin-top: -80px; 
    margin-bottom: 20px;
  }
  .about_title h1{
    font-size: 35px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }
  .about .about-detail{
    margin-top: 220px;
  }
  .about-detail h4{
    text-align: center;
    margin-bottom: 15px;
  }
  .about_title span{
    width: 50%;
  }
  .about-detail p{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
  }
}
  /*====================================*/
  /*====================================*/
@media screen and (max-width: 600px) {
  .about_title h1{
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }
  .about_title span{
    width: 50%;
  }
   .about .image-stack{
    margin-top: -80px; 
    margin-bottom: 20px;
  }
  .about .about-detail{
    margin-top: 220px;
  }
  .about-detail h4{
    text-align: center;
    margin-bottom: 15px;
  }
  .about-detail p{
    text-align: justify;
    margin:0px 28px; 0px;
  }

}
  /*====================================*/
  /*====================================*/
  /*====================================*/
