main{
	margin-bottom: 100px;
}
.about_title{
  margin-bottom: 70px;
}
.about_title h1{
	
	
	letter-spacing: 5px;
	margin-bottom: 100px; 
	font-family: 'Raleway';
  font-weight: 800;
  font-size: 65px; 
  color: #262524;
  text-transform: uppercase;

	
}
.about_title span{

	height: 1px;
  width: 550px;
  display: block;
  background: #E67A41;
  margin: 0px auto 120px;
}
.about-detail h4{
	margin-bottom: 20px;
	text-align: left;
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: 600;
  
	
}
.about-detail p{
	text-align: justify;
	width: 420px;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 500;
  color: #262524;
}
e
.image-stack {
  position: relative;
  max-width:670px;
  top: 0;
  left: 0;
}
.image-left {
  position: relative;
  max-width:55%;
  top: 0%;
  left: 0;
  z-index: 1;
}
.image-right {
  position: absolute;
  max-width:55%;
  top: 12%;
  left: 35%;
  z-index: 3;
}
.footer_part .container .hr hr{
   border: none;
  height: 1px;
  background: #E67A41;
}

/*====================================*/
/*====================================*/
/*====================================*/
/*====================================*/

@media screen and (max-width: 992px) {
  .about_title h1{
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-bottom: 0px;
  }
  .about_title span{
    width: 50%;
  }
   .about .image-stack{
    margin-top: 0px; 
    margin-bottom: 20px;
  }
  .about .about-detail{

  }
  .about-detail h4{
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
  }
  .about-detail p{
    width: 320px;
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
  }


}
  /*====================================*/
  /*====================================*/
@media screen and (max-width: 600px) {
  .about_title h1{
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-bottom: 0px;
  }
  .about_title span{
    width: 50%;
  }
   .about .image-stack{
    margin-top: 0px; 
    margin-bottom: 20px;
  }
  .about .about-detail{
    margin-top: 100px;
  }
  .about-detail h4{
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
  }
  .about-detail p{
    width: 320px;
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
  }

}
  /*====================================*/
  /*====================================*/
  /*====================================*/
