*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-page-content{
  width: 90%;
  margin: 120px auto 10px;
}
.btn1{
  border: 1px solid #E67A41;
  background-color: inherit;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}