*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart .cart-left .cart-left-header p{
    text-align: left;
    font-size: 18px;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
  }
  .column .cart-product-image img{
      width: 85px;
      height: 85px;
      margin-top: -4px;
      border: 1px solid rgba(0, 0, 0, 0.71);
      float: left;
      display: inline;
  }
  .column .cart-product-title p{
    font-size: 18px;
    text-align: left;
    margin-top: -4px;
    margin-left: 100px;
  }
  .column .cart-product-price p{
    font-size: 14px;
    text-align: left;
    margin-left: 100px;
  }

  .cart .cart-product-quantity input{
      border: 1px solidrgba(0, 0, 0, 0.71);
      height: 50px;
      width: 45px;
      margin-top: 16px;
      display: inline;
  }
  .cart .cart-product-quantity input:focus{
      border: 1px solid #d9534f;
      margin-left: 2px;
  }
  .cart .cart-product-total-price p{
      display: inline;
      float: right;
      /* position: absolute;
      top: 50%;
      right: 10%; */
      margin-top: -35px;
      margin-left: -5px;
      padding-right: 70px;
  }
  .cart .cart-cross button{
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
.cart-summury-header p{
    font-size: 18px;
    text-align: left;

  }
.cart-summury-left p{
    text-align: left;
    
  }
  
  .promo-code{
    display: block;
  }
  .promo-code a{
    text-align: left;
    float: left;
    display: block;
  }
.add-a-note a{
  float: left;
  display: block;
}
.promo-code {
  list-style-type: none;
}
.promo-code ul li a{
  list-style: none;

}