
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
  

}


.product-cart .product-head-title{
    margin-top: 100px;
    margin-bottom: 80px;
}
.product-cart .product-head-title h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 65px;
    letter-spacing: 3px;
}
.product-cart .product-head-title h1 span{
    color: #E67A41;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 75px; 
}
.product-cart .product-head-title p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size:18px;
    letter-spacing: 1px;

}
.row{
    margin: 0px auto 0px;
    display: flex;
    justify-content: center;
}

.product-cart .single-product{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-cart .single-product .card{

    width: 105%;
    height: auto;
   
    padding:0px;
}
.card-product-grid .img-wrap{
    overflow: hidden;
  }
  .card-product-grid .img-wrap img{
    transform: scale(1.5);
    transition:  all 1.2s ease;
  }
  .card-product-grid .img-wrap img:hover{
    transform: scale(1.7);
  }
  
  .topbar a i:hover{
    color: rgba(211, 85, 85, 0.92);
  }
  
  
  .info-wrap input{
    width: 60px;
    margin: 5px auto 5px;
    
}
 .info-wrap input:focus{
   border: 1.5px solid #E67A41;
}
.pagination{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.card-body a{
    margin-left: -0.3px;
}
/*====================================*/
/*====================================*/
/*====================================*/
/*====================================*/

@media screen and (max-width: 992px) {
  .product-cart .product-head-title h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 3px;
  }
  .product-cart .product-head-title p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size:16px;
    letter-spacing: 1px;
  }
}
  /*====================================*/
  /*====================================*/
@media screen and (max-width: 600px) {
    .product-cart .product-head-title h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 3px;
  }
  .product-cart .product-head-title p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size:14px;
    letter-spacing: 1px;
  }
}
 
}
  /*====================================*/
  /*====================================*/
  /*====================================*/









