@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
  

}


.product-cart .product-head-title{
    margin-top: 100px;
    margin-bottom: 80px;
}
.product-cart .product-head-title h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 65px;
    letter-spacing: 3px;
}
.product-cart .product-head-title h1 span{
    color: #d9534f;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 75px; 
}
.product-cart .product-head-title p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size:18px;
    letter-spacing: 1px;

}
.row{
    margin: 0px auto 0px;
    display: flex;
    justify-content: center;
}

.product-cart .single-product{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-cart .single-product .card{

    width: 105%;
    height: auto;
   
    padding:0px;
}
.product-cart .single-product .inner{
    overflow: hidden;
}
.product-cart .single-product .inner .card-img-top{
    transition:  all 1.2s ease;
}
.product-cart .single-product .inner img:hover{
    transform: scale(1.2);
}
.single-product form input{
    border: 2px solid black;
    margin-top: 8px;
    margin-bottom: 8px;
}
.single-product form input:focus{
   border: 2px solid #E67A41;
}
.pagination{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}