@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}
body{
  width: 100%;

}
.container{
    margin: 50px auto 50px;
}
.product-sec-title{
    
    text-align: center;
    margin-bottom: 70px;
}
.product-sec-title h1{
    font-family: 'Source Sans Pro'; 
    font-weight: 900;
    letter-spacing: 5px;

}
.product-sec-title p{
    font-family: 'Source Sans Pro'; 
    font-weight: 500;
}

.box{
    width: 280px;
    height: 330px;
}
.box .product-title{
    font-family: 'Source Sans Pro'; 
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
  
}
.box .product-price{
    font-family: 'Roboto'; 
    font-weight: 300;
    font-size: 14px;
    margin-top: -10px; 
}
.box img{
    width: 280px;
    height: 330px;
    display: block;
    background-size: 100%;
    transition: 1s;
}
.box img:hover{
    color:rgba(212, 64, 58, 0.56);

}
.container .box form input{
    width: 280px;
    margin-bottom: 12px;
    border: 1px solid #d9534f;
}