@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");


.hero-image{
	background-image: url(../img/soap1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 900px 1000px;
	background-position: top left;
	height: 600px;
	margin-bottom: 200px;

}
.hero-image .bg-img img{
	/*width: 80%;
	height: 90%;
	margin-right: 305px;*/

}
.hero-image .image-container {

	
}
.image-container h1{
	padding-top: 150px;
	display: block;
	color: #262524;
/*	margin-top: -400px;*/
	font-size: 75px;
	font-family: 'Roboto';
	font-weight: 900;

}
.hero-image .image-container h1 span{
	color: #d9534f;
}
.hero-image .image-container p{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	color: #262524;
}
/*Media query Start */
@media screen (max-width: 992px) {
.hero-image .image-container h1{

	margin-top: 0px;
	font-size: 45px;

	}
}
@media screen and (max-width: 600px) {
 .hero-image .image-container h1 {
    margin-top: 0px;
	font-size: 20px;
  }
}
/*Media query End */
/*--------------- */
/*--Detaile Area--*/
.detail{
	margin-top: 80px;

}
.detail .detail-title h1{
	font-family: 'Roboto';
		font-size: 50px;
	letter-spacing: 10px;
	margin-bottom: 80px;
	color: #262524;
}
.detail .detail-title h1 span{
	color: #d9534f;
	font-size: 70px;
}
.detail .detail-left{
	width: 350px;
	float: right;
	padding-right: 60px;

}
.detail .detail-left h2{
	font-family: 'Roboto';
	text-align: right;
	margin-bottom: 20px;
	color: #262524;

}
.detail .detail-left p{
	font-family: 'Roboto';
	text-align: right;
	font-size: 14x;
	font-weight: 400;
}
.detail .detail-left a{
	float: right;
}
.detail-right-video video{
	border: none;
}

.detail-right{
	width: 350px;
	padding-top:90px;
	padding-left:38px;
	float: left;

	
}
.detail-right h2{
	font-family: 'Roboto';

	text-align: left;
	margin-bottom: 20px;
	color: #262524;
}
.detail-right p{
	font-family: 'Roboto';
	text-align: left;
	font-size: 14px;
	font-weight: 400;
}
.detail-right a{
	float: left;
}
.detail-2{
	margin-top: 150px;
}
.detail-2 .detail-2-title h1{
	font-family: 'Roboto';
	font-size: 50px;
	letter-spacing: 10px;
	margin-bottom: 50px;
	color: #262524;
}
.detail-2-p{
	width: 800px;
	text-align: center;
	margin: 0px auto 0px;
}
.detail-2-p p{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	text-align: justify;	
}
.detail-2-quote{
	margin-left: 153px;
	width: 800px;
	height: 281px;
	background-image: url("../img/leaf1.jpg");
	background-repeat: no-repeat;
	background-size: 800px 281px;
	background-position: cover;
	
}
.detail-2-quote blockquote{
	width: 400px;
	
} 
.detail-2-quote blockquote p i{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 12px;
}
.detail-2-quote .blockquote-footer b{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
	color: #262524;
}
.detail-2-quote a{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.footer_part .container .hr hr{
	border: none;
	height: 1px;
	background:  #d9534f;
  }