
.hero-image{
	height: 118vh;
	background: url(../img/hero01.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position:  center center;
	margin-bottom: 60px;

}
.hero-image .bg-img img{
	/*width: 80%;
	height: 90%;
	margin-right: 305px;*/

}
.hero-image .image-container {

	/* background-color: black; */

}
.image-container h1{

	padding-top: 250px;
	display: block;
	color: #262524;
/*	margin-top: -400px;*/
	font-size: 70px;
	font-family: 'Raleway';
	font-weight: 900;
	text-transform: uppercase;

}
.hero-image .image-container h1 span{
	color: #d9534f;
}
.hero-image .image-container p{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	color: white;
}
span hr {
	height: 3px;
	width: 200px;
	border-radius: 15%;
	background-color: #d9534f;
	margin: 100px auto 10px;
}
/*Media query Start */
@media screen (max-width: 992px) {
.hero-image .image-container h1{

	margin-top: 0px;
	font-size: 35px;
	}
}
@media screen and (max-width: 600px) {
 .hero-image .image-container h1 {
    margin-top: 0px;
	font-size: 30px;
  }
  .hero-image .image-container p{
	font-size: 14px;
  }
}
/*Media query End */
/*--------------- */
/*--Detaile Area--*/
.detail{
	width: 80%;
	margin: 0px auto 0px;

}
.detail .row{
	width: 65%;
	margin: 0px auto 0px;
}
.detail .detail-title h1{
	font-family: 'Raleway';
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-bottom: 40px;
	color: #262524;
	
}
.detail .detail-title h1 span{
	color: #E67A41;
	font-size: 75px;
}

.detail .detail-left{
	float: left;
	padding-right: 20px;
    padding-top: 65px;

}
.detail .detail-left h2{
	font-family: 'Raleway';
	font-size: 30px;
	text-align: left;
	margin-bottom: 20px;
	color: #262524;
	font-weight: 600;
}
.detail .detail-left p{
	width: 300px;
	font-family: 'Raleway';
	text-align: left;
	font-size: 14px;
	font-weight: 500;
}
.detail .detail-left a{
	margin-top: 18px;
	float: left;
}
.detail-right-gif img{
	width: 100%;

	border-radius: 0px;
	/* float: left; */
	margin-left: 50px;
}

.detail-right{
	padding-top: 45px;
    padding-left: 25px;
	

	
}
.detail-right h2{
	font-family: 'Raleway';
	font-size: 30px;
	text-align: right;
	margin-bottom: 20px;
	color: #262524;
	font-weight: 600;
}
.detail-right p{
	width: 300px;
	font-family: 'Raleway';
	text-align: right;
	font-size: 14px;
	font-weight: 500;
	float: right;
}
.detail-right a{
	float: right;
	margin-top: 18px;
}
.detail-left-image{
	text-align: right;
    /* transform: scale(0.6); */
	width: 90%;


}
.detail-left-image img{
	/* margin-left: 10px; */
	width: 110%;
   }
.detail-2{
	margin-top: 150px;
}
.detail-2 .detail-2-title h1{
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 50px;
	color: #262524;
}

.quote-bg{
	/* width: 100%; */
	background: #ededed;
	margin-top: 60px;
	padding-top: 120px;
	padding-bottom: 120px;
}
.quote .quote-header h1{
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 50px;
	color: #262524;
}
.quote .quote-header h1 span{
	color: #E67A41;
	font-size: 95px;
}
.quote .quote-p p{
	width: 600px;
	font-family: 'Raleway';
	text-align: justify;
	font-size: 14px;
	font-weight: 500;
	margin: auto;
	margin-bottom: 20px;
}
.main-quote .main-quote p {
width: 400px;
font-family: 'Raleway';
text-align: justify;
font-size: 18px;
font-weight: 500;
margin: auto;
margin-bottom: 20px;
}
main .gallary-bg{
	background-color: #f5d5b8;
	padding-top: 50px;
	padding-bottom: 90px;
}
.gallary-tittle h1{
	font-family: 'Raleway';
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 0px;
	margin-bottom: 65px;
	color: #262524;
}
.gallary-tittle h1 span{
	color:  #E67A41;
	font-weight: 900;
	font-size: 75px;
}
.image-1 {
	overflow: hidden;
}
.image-1 .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-1 .container .image {
  display: block;
  width: 100%;
  height: auto;
	position: relative;
	width: 100%;
	object-fit: fill;
	transform: scale(1.2);
}

.image-1 .container .overlay {
  position: absolute;
  bottom: 100%;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width:  100%;
  height:0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
  overflow:hidden ;

  
}
.image-1 .container:hover .overlay {
	bottom: 0;
	height: 100%;
	 opacity: 1;
	 transition:  all .7s ease;
	 
	 
}

.image-1 .container .overlay .text {
  color: white;
  font-family: 'Roboto';

  font-weight: 300;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.gallary .container a{
	margin-top: 80px;
}

.footer_part .container .hr hr{
	border: none;
	height: 1px;
	background:  #E67A41;
  }
  .mobile-footer {
    display: none;
  }
  /*====================================*/
/*====================================*/
/*====================================*/
/*====================================*/

@media screen and (max-width: 992px) {
	.detail .detail-left{
		margin-bottom: 10px;
	}
	.detail-right-gif img{
		width: 100%;
	
		border-radius: 0px;
		/* float: left; */
		margin-left: -50px;
	}
}
  /*====================================*/
  /*====================================*/
@media screen and (max-width: 600px) {
	.hero-image{
		background-image: url(../img/hero-image3.jpg);
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 450px 350px;
		background-position:  center center;
		height: 600px;
		margin-bottom: 60px;
		margin-top: 10px;
	
	}
	.hero-image{
		height: 410px;
	}
	.image-container{
		margin-top: -5px;
	}
	.image-container h1{
		margin-top: -5px;
	}
	.detail .row{
		width: 100%;
		margin: 0px auto 0px;
	}
	.detail .detail-title h1{
		font-size: 23px;
		letter-spacing: 5px;
		margin-bottom: -40px;
	}
	.detail .row{
		/* margin-left: -20px; */
	}
	.detail-right-gif img{
		width: 100%;
	
		border-radius: 0px;
		/* float: left; */
		margin-left: -50px;
	}
   .detail .detail-left{
	   margin-bottom: 10px;
	   width: 90%;
   }
   .detail .detail-left h2{
	
	font-size: 20px;
   }
   .detail .detail-left p{
	   width: 250px;
   }
   .detail-right-video{
	   margin-top: 10px;
	  
   }
   .detail-right{
	   margin-left: -70px;
   }
   .detail .detail-right h2{
	float: right;
	width: 250px;
	font-size: 20px;
   }
   .detail .detail-right p{
	width: 250px;
}
   .detail-left-image img{
	/* margin-left: 10px; */
	width: 100%;
   }
   .quote .quote-header h1{
	font-family: 'Raleway';
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-bottom: 50px;
	color: #262524;
}
.quote .quote-p p{
	width: 350px;
	font-family: 'Raleway';
	text-align: justify;
	font-size: 16px;
	font-weight: 500;
	margin: auto;
	margin-bottom: 20px;
	}
	.quote .main-quote p {
	width: 350px;
	font-family: 'Raleway';
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	margin: auto;
	margin-bottom: 20px;
	}
	.quote .main-quote b{
	width: 350px;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 800;
	margin: auto;
	text-align: center;
	float: right;
	margin-bottom: 20px;
	}
	.image-1 .container .overlay {
		position: absolute;
		bottom: 100%;
		top: 0;
		bottom: 0;
		left: 0%;
		right: 0;
		background-color: rgba(0, 0, 0, 0.6);
		overflow: hidden;
		height: 100%;
		width:  100%;
		height:0;
		opacity: 0;
		transition: .5s ease;
		background-color: rgba(0, 0, 0, 0.3);
		
	  }
	  .image-1 .container:hover .overlay {
		  bottom: 0;
		  height: 100%;
		   opacity: 1;
		   transition:  all .7s ease;
	  }
	  
	  .image-1 .container .overlay .text {
		color: white;
		font-family: 'Roboto';
	  
		font-weight: 300;
		font-size: 16px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
	.footer-copyright{
		/* padding-bottom: 20px; */
		margin: 0px auto 0px;
	}
	.section-footer{
		display: none;
	}
	.mobile-footer{
		display: block;
		margin: auto;
	}
	.social-icon{
		margin-left: 5px;
	}
}
  /*====================================*/
  /*====================================*/
  /*====================================*/
