@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
html {
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
}
.btn1{
  border: 1px solid #E67A41;
  background-color: inherit;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;

}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
.size{
  margin-left: 110px;
}
.description{
  margin-top: 110px;
  margin-bottom: 150px;
}
.description h3{
  text-align: left;
}
.description p{
  text-align: left;
}
.slider-header h4{
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 600;
}
.slider-header span{
  height: 1px;
  width: 110px;
  display: block;
  background: #E67A41;
  margin: 20px auto 70px;
}
.product-detail p{
  text-align: left;
  margin-bottom: 20px;
}
dl dt{
  float: left;
  text-align: left;
}

.card-product-grid .img-wrap{
  overflow: hidden;
}
.card-product-grid .img-wrap img{
  transform: scale(1.5);
  transition:  all 1.2s ease;
}
.card-product-grid .img-wrap img:hover{
  transform: scale(1.7);
}
.topbar a i:hover{
  color: rgba(211, 85, 85, 0.92);
}
.related-product h4{
  margin: 200px auto 90px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 45px;
}
