@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
html {
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
}
main{
  background-color: #ededed;
}
.button2 {
  background-color: #E67A41; /* Green */
  color: white;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.btn1{
  border: 1px solid #E67A41;
  background-color: inherit;
  text-decoration: none;
  padding: 4px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;

}
.product_main{
  margin-top: 0px;
  margin-bottom: 80px;
  padding-top: 120px;
}
.product_main .page_title h1{
  font-size: 40px;
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;

}
.product_main .page_title h1 span{
  color: #E67A41;
  font-weight: 900;
  font-size: 70px;
  font-family: 'Raleway';
}
.content-body .title{
  text-align: left;
}








.zoom {
      display:inline-block;
      position: relative;
    }
    
    /* magnifying glass icon */
    .zoom:after {
      content:'';
      display:block; 
      width:0px; 
      height:0px; 
      position:absolute; 
      top:0;
      right:0;

    }

    .zoom img {
      display: block;
    }

    .zoom img::selection { background-color: transparent; }

    #ex2 img:hover { cursor: url(grab.cur), default; }
    #ex2 img:active { cursor: url(grabbed.cur), default; }










.size{
  margin-left: 110px;
}
.description{
  margin-top: 110px;
  margin-bottom: 150px;
}
.description h3{
  text-align: left;
}
.description p{
  text-align: left;
}
.slider-header h4{
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 600;
}
.slider-header span{
  height: 1px;
  width: 110px;
  display: block;
  background: #E67A41;
  margin: 20px auto 70px;
}
.product-detail p{
  text-align: left;
  margin-bottom: 20px;
}
dl dt{
  float: left;
  text-align: left;
}
.product-cart-btn{
  float: left;
}
.related-product .row{
  width: 80%;
  margin: 0px auto 0px;
}
.card-product-grid .img-wrap{
  overflow: hidden;
}
.card-product-grid .img-wrap img{
  transform: scale(1.5);
  transition:  all 1.2s ease;
}
.card-product-grid .img-wrap img:hover{
  transform: scale(1.7);
}
.topbar a:hover{
  color: rgba(211, 85, 85, 0.92) !important;
}
.topbar a i:hover{
  color: rgba(211, 85, 85, 0.92);
}
.related-product{
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #ededed;;
}
.related-product-title h4{
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 45px;
}
@media screen and (max-width: 900px){
  
}
@media screen and (max-width: 600px){
  .button2 {
    width: 60%;
  }
.sizing{
  margin: 0px auto 0px;
  }
  .product_main .page_title h1{
    font-size: 40px;
  }
  .related-product-title h4{

    font-size: 35px;
  }
  dl dt{
    float: left;
    text-align: center;
  
  }
  .gallery-wrap .img-big-wrap img{
    width: 100%;
    height: 100%;
  }
  
}
